<%= form_for(@clasification) do |f| %>
  <% if @clasification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clasification.errors.count, "error") %> prohibited this clasification from being saved:</h2>

      <ul>
      <% @clasification.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Descripción %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
